body {
  background-image: url(newBgImage.avif);
  width: 100%;
  background-size: cover;
}
.container {
  height: 90vh;
  width: 95% !important;
  background: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  backdrop-filter: blur(5px); /* Applies a blur effect to the background */
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
